/* Site Font */

@font-face {
    font-family: "bradley-hand";
    src: url(../font/BRADHITC.TTF);
}

/* Brand Logo */
.brand {
    font-family: bradley-hand;
    font-weight: bold;
}

/* Inspiration Modal */
.modal-content {
    height: 400px;
    width: 100%;
    opacity: 90%;
    background-color: rgba(205, 221, 61, 0.932);
    /* border-radius: 10px; */
    justify-content: center;
    border: black solid;
    position: relative;
}

.modal

/* Index Mobile Images */
.img-m {
    margin-top: 3%;
}

/* Body CSS to compliment the Materialize Fixed Footer */
body { 
    min-height: 100vh; 
    margin-bottom: 100px;
}

/* Nutrition Tracking Dynamic Divs*/
.itemDiv h6 {
    text-align: center;
}

.itemDiv {
    font-size: 10px;
    margin: 2%;
    text-align: center;
}

.itemDiv p {
    text-align: left;
}

/* Food Nutrition Totals Card */
.dayTotal {
    font-size: 18px;
    width: 45%;
    padding: 1%;
    margin: 2%;
}

/* Food Search Modal */
.food-modal, .goal-modal {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    display: grid;
    justify-content: center;
    align-items: center;
    display: none;
}

.food-modal-content, .goal-modal-content {
    width: 600px;
    height: 150px;
    z-index: 1;
    border-radius: 10px;
    padding-left: 2%;
    padding-right: 2%;
    font-family: bradley-hand;
    position: relative;
    box-shadow: 0 10px 15px 0 rgba(0, 0, 0, 0.8), 0 10px 20px 0 rgba(0, 0, 0, 1);
}

.food-modal-button, .goal-modal-button {
    position: absolute;
    bottom: 25%;
    right: 45%;
    cursor: pointer;
}

/* WellBeing Goals Page */
.wellbeing-main {
    margin-top: 1%;
    padding-left: 2%;
    padding-right: 2%;
    padding-bottom: 2%;
}

.li-card {
    position: relative;
    text-align: left;
    padding: 2.5%;
    }

.achv-btn {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 85%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-65%, -50%);
}      

/* Website Footer */
footer {
    z-index: 1;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
}

