/* Site Font */

@font-face {
    font-family: "bradley-hand";
    src: url(../font/BRADHITC.TTF);
}

body { 
    min-height: 100vh; 
    margin-bottom: 100px;
}

.itemDiv h6 {
    text-align: center;
}

.itemDiv {
    font-size: 10px;
    margin: 2%;
    text-align: center;
}

.itemDiv p {
    text-align: left;
}

.dayTotal {
    font-size: 20px;
    height: 50%;
    width: 40%;
    padding: 1%;
}


/* Brand Logo */
.brand {
    font-family: bradley-hand;
    font-weight: bold;
}

/* Home page body contents */

.mental-health {
    background: url(../img/tim-mossholder-8R-mXppeakM-unsplash.jpg);
    background-size: cover;
    background-position: center;
    padding: 10%;
    font-size: 14pt;
    font-weight: 700;
}

.diet {
    background: url(../img/dylan-nolte-hJBgMJgswrY-unsplash.jpg);
    background-size: cover;
    background-position: center;
    padding: 10%;
    font-size: 14pt;
    font-weight: 700;
}

.fitness {
    background: url(../img/dane-wetton-AkSJQnem75Y-unsplash.jpg);
    background-size: cover;
    background-position: center;
    padding: 10%;
    font-size: 14pt;
    font-weight: 700;
}


/* Food Modal */
.food-modal {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    display: grid;
    justify-content: center;
    align-items: center;
    display: none;
}

.food-modal-content {
    width: 600px;
    height: 150px;
    background-color: #1B5E20;
    color: #eee;
    z-index: 1;
    border-radius: 10px;
    padding-left: 2%;
    padding-right: 2%;
    font-family: bradley-hand;
    position: relative;
    box-shadow: 0 10px 15px 0 rgba(0, 0, 0, 0.8), 0 10px 20px 0 rgba(0, 0, 0, 1);
}

.food-modal-button {
    position: absolute;
    bottom: 25%;
    right: 45%;
    cursor: pointer;
}


/* Inspiration Modal */
.modal-content {
    height: 400px;
    width: 100%;
    opacity: 90%;
    background-color: rgba(205, 221, 61, 0.932);
    border-radius: 10px;
    justify-content: center;
    border: black solid;
    position: relative;
}

.img {
    height: 120px;
    width: 100%;
    background-size: cover;
}

.well-being {
    height: 100px;
    width: 40%;
}

.wellbeing-main {
    margin-top: 1%;
    padding-left: 2%;
    padding-right: 2%;
    padding-bottom: 2%;
}

.achv-btn {
    position: absolute;
    right: 0px;
    top: 4.5px;
}

.li-card {
    padding: 1%;
}

footer {
    z-index: 1;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
}

